body {
    background-color: rgb(40, 122, 246);
}

.Home {
    justify-content: center;
    align-items: center; 
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    width: 500px;
}

.itemInput, .listItem {
    border: 1px solid gray;
    width: 400px;
    float: left;
    background-color: white;
}

.addedItem {
    float: left;
}

.delButton {
    display: none;
    float: right;
}

span:hover + .delButton {
    display: block;
}

footer {
    width: 350px;
    text-align: left;
}